<!DOCTYPE html>
<meta charset="utf-8" />

<head>
    <title>CMSC828D -- A3</title>

    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="https://d3js.org/d3-array.v2.min.js"></script>
    <script src="https://d3js.org/d3-geo.v2.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-legend/2.25.6/d3-legend.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>

    <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous"
    />
</head>

<style>
    div.tooltip {
        padding: 10px;
        font: 16px sans-serif;
        line-height: 1.3;
        color: white;
        background: black;
        pointer-events: none;
    }
    body {
        font: 14px sans-serif;
        background-color: white;
    }
</style>

<body>

<div id="page" class="container-fluid pt-2 px-4" style="white-space: nowrap; visibility: hidden;">
    <div class="row">
        <div class="col"><h3>Fatal Police Shootings in the United States</h3></div>
        <button type="button" class="btn btn-danger mx-2" id="end-task-4" style="display: none">End Task 4</button>
        <button type="button" class="btn btn-info mx-2" id="start-task-4" style="display: none">Start Task 4</button>
        <button type="button" class="btn btn-danger mx-2" id="end-task-3" style="display: none">End Task 3</button>
        <button type="button" class="btn btn-info mx-2" id="start-task-3" style="display: none">Start Task 3</button>
        <button type="button" class="btn btn-danger mx-2" id="end-task-2" style="display: none">End Task 2</button>
        <button type="button" class="btn btn-info mx-2" id="start-task-2" style="display: none">Start Task 2</button>
        <button type="button" class="btn btn-danger mx-2" id="end-task-1" style="display: none">End Task 1</button>
        <button type="button" class="btn btn-info mx-2" id="start-task-1" style="display: block">Start Task 1</button>
    </div>
    <div class="row">
        <div class="col" id="date-text"></div><div class="col" id="total-text"></div><div class="col"></div><div class="col"></div>
    </div>
    <div class="row flex-nowrap">
        <div>
            <div id="map"></div>
            <div id="graph"></div>
        </div>
        <div>
            <div id="filter" class="pb-1">
                <h5>Filter Options:</h5>
                <div class="form-group">
                    <strong>Race:</strong>&nbsp&nbsp
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" data-value='{"attribute": "race", "feature": "Black"}' checked>
                        <label class="form-check-label" for="">Black</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" data-value='{"attribute": "race", "feature": "Native"}' checked>
                        <label class="form-check-label" for="">Native</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" data-value='{"attribute": "race", "feature": "Hispanic"}' checked>
                        <label class="form-check-label" for="">Hispanic</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" data-value='{"attribute": "race", "feature": "White"}' checked>
                        <label class="form-check-label" for="">White</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" data-value='{"attribute": "race", "feature": "Asian"}' checked>
                        <label class="form-check-label" for="">Asian</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" data-value='{"attribute": "race", "feature": "Other"}' checked>
                        <label class="form-check-label" for="">Other</label>
                    </div>
                </div>

                <div class="form-group">
                    <strong>Gender:</strong>&nbsp&nbsp
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox"  data-value='{"attribute": "gender", "feature": "M"}' checked>
                        <label class="form-check-label" for="">Male</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox"  data-value='{"attribute": "gender", "feature": "F"}' checked>
                        <label class="form-check-label" for="">Female</label>
                    </div>

                </div>

                <div class="form-group">
                    <strong>Age Group:</strong>&nbsp&nbsp
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" data-value='{"attribute": "age_group", "feature": "(<18)"}' checked>
                        <label class="form-check-label" for="">Under 18</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" data-value='{"attribute": "age_group", "feature": "(18-34)"}' checked>
                        <label class="form-check-label" for="">18 - 34</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" data-value='{"attribute": "age_group", "feature": "(35-44)"}' checked>
                        <label class="form-check-label" for="">35 - 44</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" data-value='{"attribute": "age_group", "feature": "(45-64)"}' checked>
                        <label class="form-check-label" for="">45 - 64</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" data-value='{"attribute": "age_group", "feature": "(>64)"}' checked>
                        <label class="form-check-label" for="">65 +</label>
                    </div>

                </div>

                <div class="form-group">
                    <strong>Body Camera:</strong>&nbsp&nbsp
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" data-value='{"attribute": "body_camera", "feature": "true"}' checked>
                        <label class="form-check-label" for="">Police wore body camera</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" data-value='{"attribute": "body_camera", "feature": "false"}' checked>
                        <label class="form-check-label" for="">No body camera present</label>
                    </div>

                </div>

                <div class="form-group">
                    <strong>Mental Illness:</strong>&nbsp&nbsp
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" data-value='{"attribute": "signs_of_mental_illness", "feature": "true"}' checked>
                        <label class="form-check-label" for="">Showed mental illness</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" data-value='{"attribute": "signs_of_mental_illness", "feature": "false"}' checked>
                        <label class="form-check-label" for="">No signs of mental illness</label>
                    </div>

                </div>

                <div class="form-group">
                    <strong>Fleeing Suspect:</strong>&nbsp&nbsp
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" data-value='{"attribute": "flee", "feature": "Foot"}' checked>
                        <label class="form-check-label" for="">On foot</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" data-value='{"attribute": "flee", "feature": "Car"}' checked>
                        <label class="form-check-label" for="">In a car</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" data-value='{"attribute": "flee", "feature": "Other"}' checked>
                        <label class="form-check-label" for="">By other means</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" data-value='{"attribute": "flee", "feature": "Not fleeing"}' checked>
                        <label class="form-check-label" for="">Did not flee</label>
                    </div>

                </div>
            </div>
            <div id="detail" class="pt-1">
                <h5>Shootings per Attribute:</h5>
                <table class="table table-sm">
                    <tr><td class="align-middle">Race</td><td><div id="race-vis"></div></td></tr>
                    <tr><td class="align-middle">Gender</td><td><div id="gender-vis"></div></td></tr>
                    <tr><td class="align-middle">Age Group</td><td><div id="age-vis"></div></td></tr>
                    <tr><td class="align-middle">Body Camera</td><td><div id="bodycam-vis"></div></td></tr>
                    <tr><td class="align-middle">Mental Illness</td><td><div id="mental-vis"></div></td></tr>
                    <tr><td class="align-middle">Fleeing Suspect</td><td><div id="flee-vis"></div></td></tr>
                </table>
            </div>
        </div>
    </div>
    </div>
</div>

</body>
<script>
    const cacheName = 'shootings-cache';

    const height = 660,
            mapHeight = 450,
            mapWidth = 780,
            graphHeight = height - mapHeight,
            graphWidth = mapWidth,
            graphMargin = {top: 40, right: 50, bottom: 50, left: 70};

    var parseDate = d3.timeParse("%Y-%m-%d");
    var formatDate = d3.timeFormat("%Y-%m-%d");

    var mn, mx, startDate, endDate, filterData, binRanges, binCounts, dateBinRange,
            brushingStart = false, brushingEnd = false;

    var tooltip = d3.select("body").append("div")
        .attr("class", "tooltip")
        .style("opacity", 0);

    // Call initialize() to initialize the page with our default query.
    initialize().then(data => {
        console.log(data);
        mn = data.properties.stateMin;
        mx = data.properties.stateMax;
        startDate = data.properties.dateMin;
        endDate = data.properties.dateMax;

        checkboxEventListener();
        createMap(data);
        createBrushGraph(data);
        createBars(data);

        document.getElementById('date-text').innerHTML = "<h5>Dates: " + startDate + " to " + endDate + "</h5>";
        document.getElementById('total-text').innerHTML = "<h5>Total Shootings: " + data.totalShootings[0].count + " people killed</h5>";
        document.getElementById("page").style.visibility = "visible"; // allows all DOM elements to load at the same time
    });

    /**
     * Removes the content inside of the given DOM element
     * */
    function clearNode(identifier) {
        const myNode = document.getElementById(identifier);
        myNode.textContent = '';
    }

    /**
     * Initializes the page.
     * */
    async function initialize() {
        filterData = {};
        $('input[type=checkbox]').each(function () {
            if (this.checked) {
                let val = $(this).data('value')
                filterData[val.attribute] ? filterData[val.attribute].push(val.feature) : filterData[val.attribute] = [val.feature];
            }
        });

        let url = 'http://localhost:8000/get-server-data?schema=a3&table=shootings&event=initialize'
                + '&filter-data=' + JSON.stringify(filterData)  + '&timestamp=' + Date.now();

        let response = await fetch(url, {"credentials": "same-origin"})
        if (response.ok) {
            let data = await response.json();
            return data;
        }
        return []
    }

    /**
     * Creates the choropleth map SVG.
     * */
    function createMap(data) {
        clearNode('map');
        let geoJSON = data.geoJSON;
        let countPerState = data.countPerState;
        if (countPerState.length === 0) {
            mn = 0; mx = 0;
        } else {
            mn = data.properties.stateMin;
            mx = data.properties.stateMax;
        }

        var map = d3.select("#map").append("svg")
            .attr("width", mapWidth)
            .attr("height", mapHeight);

        var projection = d3.geoAlbersUsa()
            .scale([850])
            .translate([mapWidth/2 + 40, mapHeight/2 - 10]);

        var path = d3.geoPath()
            .projection(projection);

        var states = map.append("g")
            .attr("class", "mapGroup");

        var paths = states.append("g")
            .attr("class", "usMap")
            .attr("transform", "translate(0,0)");

        var linear = d3.scaleLinear()
            .domain([mn, mx])
            .range(['#ffc8c8', '#9b0000']);

        if (countPerState.length !== 0) {
            // Creates a legend using a linear color scale
            var legend = d3.legendColor()
                .labelFormat(d3.format("d"))
                .shapeWidth(30)
                .cells(9)
                .orient('vertical')
                .scale(linear)
                .title("Shootings per State")
                .titleWidth(150);
            // Adds the legend to the map
            states.append("g")
                .attr("class", "legend")
                .attr("transform", "translate(20,40)")
                .style("font-size", "11px")
                .call(legend);
            // Add a custom legend to indicate states with 0 shootings
            states.append('rect')
                .attr('x', 20)
                .attr('y', 230)
                .attr('width', "30")
                .attr('height', "15")
                .attr('fill', 'black');
            states.append('text')
                .attr('x', 60)
                .attr('y', 241)
                .style("font-size", "11px")
                .text("No shootings");
        } else {
            // Add a custom legend to indicate states with 0 shootings
            states.append('rect')
                .attr('x', 20)
                .attr('y', 60)
                .attr('width', "30")
                .attr('height', "15")
                .attr('fill', 'black');
            states.append('text')
                .attr('x', 60)
                .attr('y', 70)
                .style("font-size", "11px")
                .text("No shootings");
            states.append('text')
                .attr('x', 20)
                .attr('y', 40)
                .style("font-size", "11px")
                .text("Shootings per State");
        }

        // Loop through each state in GeoJSON
        for (var j = 0; j < geoJSON.features.length; j++) {
            var geoState = geoJSON.features[j].properties.name;
            geoJSON.features[j].properties.value = 'No'; // default value is 'No' shootings

            // Loop through each state from query
            for (var i = 0; i < countPerState.length; i++) {
                var stateName = countPerState[i].state; // state name
                var stateShootingCount = countPerState[i].count; // shootings per state
                if (stateName === geoState) {
                    geoJSON.features[j].properties.value = stateShootingCount; // copy value into GeoJSON
                    break;
                }
            }
        }

        // Pattern to fill path when hovering
        map.append("defs")
            .append("pattern")
                .attr("id", "stripes")
                .attr("patternUnits", "userSpaceOnUse")
                .attr("patternTransform", "rotate(60)")
                .attr("width", "8")
                .attr("height", "8")
            .append("rect")
                .attr("id", "pattern")
                .attr("width", "6")
                .attr("height", "8")
                .attr("transform", "translate(0,0)");

        // Assigns data to each state and adds a tooltip when hovering the state
        paths.selectAll("path")
            .data(geoJSON.features)
            .enter()
            .append("path")
            .attr("d", path)
            .attr("id", function(d) { return d.properties.name.replace(/\s/g, "") + "Path" })
            .style("stroke", "white")
            .style("stroke-width", "1")
            .style("fill", function(d) { return linear(d.properties.value) })
            .text(function(d) { return d.properties.name })
            //.on("mouseover", (m, d) => {logging("hover-"+d.properties.name)})  // don't track this for now
            .on("mousemove", (m, d) => {
                d3.select("#"+d.properties.name.replace(/\s/g, "") + "Path")
                    //.style("opacity", .7);
                    .style("fill", function (d) {
                        map.select("pattern")
                            .attr("fill", linear(d.properties.value));
                        return "url(#stripes)";
                    });
                tooltip.transition()
                    .style("opacity", .9);
                tooltip.html(d.properties.name + "<br>" + d.properties.value + " Shootings")
                    .style("left", (d3.pointer(event)[0] + 20)+'px')
                    .style("top", (d3.pointer(event)[1] + 90)+'px');
            })
            .on("mouseout", (m, d) => {
                d3.select("#"+d.properties.name.replace(/\s/g, "") + "Path")
                    //.style("opacity", 1);
                    .style("background", "black")
                    .style("fill", linear(d.properties.value));
                tooltip.transition()
                    .style("opacity", 0);
            })
    }

    /**
     * Updates the map SVG by clearing the node and calling createMap() with the new data.
     * */
    function updateMap(data) {
        clearNode('map');
        createMap(data);
    }

    /**
     * Creates the histogram (bar graph SVG) and brush filter.
     * */
    function createBrushGraph(data) {
        data.properties.dateBinRange.map(d => {
            d.rangeMin = new Date(d.rangeMin);
            d.rangeMax = new Date(d.rangeMax);
        });
        data.properties.dateBinRange.map(d => {
            d.rangeMin = new Date(d.rangeMin);
            d.rangeMax = new Date(d.rangeMax);
        });
        binRanges = data.properties.dateBinRange;
        binCounts = data.properties.dateBinCount;
        dateBinRange = data.properties.dateBinRange;

        const graph = d3.select("#graph").append("svg")
            .attr("id", "graph")
            .attr("width", graphWidth)
            .attr("height", graphHeight);

        let x = d3.scaleLinear()
            .domain([dateBinRange[0].rangeMin, dateBinRange[dateBinRange.length - 1].rangeMax])
            .range([graphMargin.left, graphWidth - graphMargin.right]);

        let y = d3.scaleLinear()
            .domain([0, d3.max(binCounts)]).nice()
            .range([graphHeight - graphMargin.bottom, graphMargin.top]);

        let xAxis = g => g
            .attr("transform", `translate(0,${graphHeight - graphMargin.bottom})`)
            .call(d3.axisBottom(x).ticks(binCounts.length/6))
            .selectAll("text")
            .attr("y", 10)
            .attr("x", 0)
            .attr("dx", -25)
            .attr("transform", "rotate(0)")
            .style("text-anchor", "start")
            .text(function (d) {
                let s = new Date(d).toDateString().split(" ");
                return s[1] +" "+ s[3];
            });

        let yAxis = g => g
          .attr("transform", `translate(${graphMargin.left},0)`)
          .call(d3.axisLeft(y).ticks(10));

        graph.append("g")
            .attr("fill", "steelblue")
            .selectAll("rect")
            .data(dateBinRange)
            .join("rect")
            .attr("x", d => x(d.rangeMin) + 1)
            .attr("width", d => Math.max(0, x(d.rangeMax) - x(d.rangeMin) - 1))
            .attr("y", (d,i) => y(binCounts[i]))
            .attr("height", (d,i) => y(0) - y(binCounts[i]));

        graph.append("g")
            .call(xAxis);

        graph.append("g")
            .call(yAxis);

        /* Graph titles and axes labels */

        let graphTitle = "Total Police Shootings per Month (2015 - 2020)";
        let graphW = graphWidth - graphMargin.left - graphMargin.right;
        let graphH = graphHeight - graphMargin.top - graphMargin.bottom;

        graph.append("text")
            .attr("class", "title")
            .attr("text-anchor", "center")
            .attr("x", graphW/2 - 30)
            .attr("y", 0)
            .attr("dy", ".75em")
            .attr("dx", - graphMargin.left)
            .style("font-size", "16px")
            .text(graphTitle);

        graph.append("text")
            .attr("class", "x label")
            .attr("text-anchor", "center")
            .attr("x", graphWidth/2 - graphMargin.right + 10)
            .attr("y", graphHeight - graphMargin.bottom/2 + 10)
            .attr("dy", ".75em")
            .text("Date (Month)");

        graph.append("text")
            .attr("class", "y label")
            .attr("text-anchor", "center")
            .attr("x", -graphH)
            .attr("y", graphMargin.left/3)
            .attr("dy", ".75em")
            .attr("transform", "rotate(-90)")
            .text("Frequency");

        //Brush Filter for choosing date ranges
        function resizePath(d) {
            const e = +(d.type === 'e');
            const x = e ? 1 : -1;
            const y = ((graphHeight - graphMargin.bottom) / 2) - 15;
            return `M${0.5 * x},${y}A6,6 0 0 ${e} ${6.5 * x},${y + 6}V${2 * y - 6}A6,6 0 0 ${e} ${0.5 * x},${2 * y}ZM${2.5 * x},${y + 8}V${2 * y - 8}M${4.5 * x},${y + 8}V${2 * y - 8}`;
        }

        let brushHandle = (g, selection) => g
            .selectAll(".handle--custom")
            .data([{type: "w"}, {type: "e"}])
            .join(enter => enter.append("path")
                .attr("class", "handle--custom")
                .attr("fill", "#fff")
                .attr("fill-opacity", 0.8)
                .attr("stroke", "#000")
                .attr("cursor", "ew-resize")
                .attr("d", resizePath)
            )
            .attr("display", selection === null ? "none" : null)
            .attr("transform", selection === null ? null : (d, i) => `translate(${selection[i]},${0})`);

        var brush = d3.brushX()
            .extent([[graphMargin.left, graphMargin.top], [graphWidth - graphMargin.right, graphHeight - graphMargin.bottom]])
            .on("start", function () {logging("brush-start")})
            .on("end", function () {logging("brush-end")})
            .on("brush.update", _.throttle(brushUpdate, 50)) // use throttle to reduce lag when updating visualizations
            .on("brush.handle", brushing);

        function brushing({selection}) {
            d3.select(this).call(brushHandle, selection);
        }

        // Updating the visualizations in real time (on brushing)
        function brushUpdate({selection}) {
            d3.select(this).call(brushHandle, selection);
            let sx = selection.map(x.invert),
                start = formatDate(sx[0]+18000000), // fix offset in date objects
                end = formatDate(sx[1]),
                d = {"start": start, "end": end};
            brushGraphChanged(d).then(data => {
                startDate = data.properties.dateMin;
                endDate = data.properties.dateMax;
                document.getElementById('date-text').innerHTML = "<h5>Dates: " + startDate + " to " + endDate + "</h5>";
                document.getElementById('total-text').innerHTML = "<h5>Total Shootings: " + data.totalShootings[0].count + " people killed</h5>";
                updateBars(data);
                updateMap(data);
            });

        }

        graph.append("g")
            .call(brush)
            .call(brush.move, [x(x.domain()[0]), x.range()[1]]) // brush default covers entire graph
            .call(g => g.select(".overlay")
                .datum({type: "selection"})
                .on("mousedown touchstart", brushReset));

        // Moves the brush when clicking outside the current brush area on the graph
        function brushReset(event) {
            const dx = ((x.range()[1]) - x(x.domain()[0]))/4; // uses a fixed graphWidth when recentering
            const [[cx]] = d3.pointers(event);
            const [x0, x1] = [cx - dx / 2, cx + dx / 2];
            const [X0, X1] = x.range();
            d3.select(this.parentNode)
                .call(brush.move, x1 > X1 ? [X1 - dx, X1] : x0 < X0 ? [X0, X0 + dx] : [x0, x1]);
          }

    }

    /**
     * Gets data from the cache.
     * */
    async function getCachedData( cacheName, url ) {
        const cacheStorage   = await caches.open( cacheName );
        const cachedResponse = await cacheStorage.match( url );

        if ( ! cachedResponse || ! cachedResponse.ok ) {
            return false;
        }

        return await cachedResponse.json();
    }

    /**
     * Asynchronous function that gets called while the brush filter is moving to fetch new data
     * and update each visualization accordingly.
     * */
    async function brushGraphChanged(params) {
        startDate = params.start;
        endDate = params.end;

        let url = 'http://localhost:8000/get-server-data?schema=a3&table=shootings&event=brush&date-min=' + startDate + '&date-max=' + endDate
            + '&filter-data=' + JSON.stringify(filterData);

        /* DATA CACHE START */
        let cachedData = await getCachedData( cacheName, url );

        if ( cachedData ) {
            //console.log( 'Retrieved cached data' );
            return cachedData;
        }

        //console.log( 'Fetching fresh data' );
        const cacheStorage = await caches.open( cacheName );
        await cacheStorage.add( url );
        cachedData = await getCachedData( cacheName, url, {"credentials": "same-origin"});
        return cachedData;
        /* DATA CACHE END */

    }

    /**
     * Creates the group of single stacked bars (each one is a separate SVG).
     * */
    function createBars(data) {
        var rowH = 55, rowW = 480, raceVis, genderVis, ageVis, bodycamVis, mentalVis, fleeVis,
                raceObject = {}, genderObject = {}, ageObject = {}, bodycamObject = {}, mentalObject = {}, fleeObject = {},
                raceCount = [], genderCount = [], ageCount = [], bodycamCount = [], mentalCount = [], fleeCount = [];

        data.barCounts.race.map(d => { raceCount.push(d.count) });
        data.barCounts.gender.map(d => { genderCount.push(d.count) });
        data.barCounts.age.map(d => { ageCount.push(d.count) });
        data.barCounts.bodyCamera.map(d => { bodycamCount.push(d.count) });
        data.barCounts.mentalIllness.map(d => { mentalCount.push(d.count) });
        data.barCounts.flee.map(d => { fleeCount.push(d.count) });

        let colors = ['#CA472F', '#9DD865', '#6F4E7C', '#FFA056', '#0B84A5', '#F6C860']

        let count = data.barCounts.maxCount[0].total;

        // Normalize the widths to fit the desired row width
        function norm(result) {
            return result * (rowW / count);
        }

        function sum(array, start, end) {
            let total = 0;
            for (let i = start; i < end; i++) total += array[i];
            return total;
        }

        data.barCounts.race.forEach(function(e) { raceObject[e.race] = e.count });
        data.barCounts.gender.forEach(function(e) { genderObject[e.gender] = e.count });
        data.barCounts.age.forEach(function(e) { ageObject[e.age_group] = e.count });
        data.barCounts.bodyCamera.forEach(function(e) { bodycamObject[e.body_camera] = e.count });
        data.barCounts.mentalIllness.forEach(function(e) { mentalObject[e.signs_of_mental_illness] = e.count });
        data.barCounts.flee.forEach(function(e) { fleeObject[e.flee] = e.count });

        raceVis = d3.select("#race-vis").append("svg")
                .attr("height", rowH)
                .attr("width", rowW);
        raceVis.append("g").selectAll('rect')
            .data(raceCount)
            .enter()
            .append('rect')
            .attr('width', function(d) { return norm(d) })
            .attr('x', function(d, i) { return norm(sum(raceCount, 0, i)) })
            .attr('fill', function(d, i){ return colors[i] })
            .attr('y',0)
            .attr('height', 30);
        raceVis.append("g")
            .data(raceCount)
            .append("text")
            .text(JSON.stringify(raceObject, null, 1).replace(/[{}"]/g, ''))
            .attr("text-anchor", "left")
            .attr("x", 0)
            .attr("y", 50);

        genderVis = d3.select("#gender-vis").append("svg")
                .attr("height", rowH)
                .attr("width", rowW);
        genderVis.append("g").selectAll('rect')
            .data(genderCount)
            .enter()
            .append('rect')
            .attr('width', function(d) { return norm(d) })
            .attr('x', function(d, i) { return  norm(sum(genderCount, 0, i)) })
            .attr('fill', function(d, i){ return colors[i] })
            .attr('y',0)
            .attr('height', 30);
        genderVis.append("g")
            .append("text")
            .text(JSON.stringify(genderObject, null, 1).replace(/[{}"]/g, ''))
            .attr("text-anchor", "left")
            .attr("x", 0)
            .attr("y", 50);

        ageVis = d3.select("#age-vis").append("svg")
                .attr("height", rowH)
                .attr("width", rowW);
        ageVis.append("g").selectAll('rect')
            .data(ageCount)
            .enter()
            .append('rect')
            .attr('width', function(d) { return norm(d) })
            .attr('x', function(d, i) { return  norm(sum(ageCount, 0, i)) })
            .attr('fill', function(d, i){ return colors[i] })
            .attr('y',0)
            .attr('height', 30);
        ageVis.append("g")
            .append("text")
            .text(JSON.stringify(ageObject, null, 1).replace(/[{}"]/g, ''))
            .attr("text-anchor", "left")
            .attr("x", 0)
            .attr("y", 50);

        bodycamVis = d3.select("#bodycam-vis").append("svg")
                .attr("height", rowH)
                .attr("width", rowW);
        bodycamVis.append("g").selectAll('rect')
            .data(bodycamCount)
            .enter()
            .append('rect')
            .attr('width', function(d) { return norm(d) })
            .attr('x', function(d, i) { return  norm(sum(bodycamCount, 0, i)) })
            .attr('fill', function(d, i){ return colors[i] })
            .attr('y',0)
            .attr('height', 30);
        bodycamVis.append("g")
            .append("text")
            .text(JSON.stringify(bodycamObject, null, 1).replace(/[{}"]/g, ''))
            .attr("text-anchor", "left")
            .attr("x", 0)
            .attr("y", 50);

        mentalVis = d3.select("#mental-vis").append("svg")
                .attr("height", rowH)
                .attr("width", rowW);
        mentalVis.append("g").selectAll('rect')
            .data(mentalCount)
            .enter()
            .append('rect')
            .attr('width', function(d) { return norm(d) })
            .attr('x', function(d, i) { return  norm(sum(mentalCount, 0, i)) })
            .attr('fill', function(d, i){ return colors[i] })
            .attr('y',0)
            .attr('height', 30);
        mentalVis.append("g")
            .append("text")
            .text(JSON.stringify(mentalObject, null, 1).replace(/[{}"]/g, ''))
            .attr("text-anchor", "left")
            .attr("x", 0)
            .attr("y", 50);

        fleeVis = d3.select("#flee-vis").append("svg")
                .attr("height", rowH)
                .attr("width", rowW);
        fleeVis.append("g").selectAll('rect')
            .data(fleeCount)
            .enter()
            .append('rect')
            .attr('width', function(d) { return norm(d) })
            .attr('x', function(d, i) { return  norm(sum(fleeCount, 0, i)) })
            .attr('fill', function(d, i){ return colors[i] })
            .attr('y',0)
            .attr('height', 30);
        fleeVis.append("g")
            .append("text")
            .text(JSON.stringify(fleeObject, null, 1).replace(/[{}"]/g, ''))
            .attr("text-anchor", "left")
            .attr("x", 0)
            .attr("y", 50);
    }

    /**
     * Updates the single stacked bars by clearing each bar node and calling Bars() with the new data.
     * */
    function updateBars(data) {
        clearNode('race-vis');
        clearNode('gender-vis');
        clearNode('age-vis');
        clearNode('bodycam-vis');
        clearNode('mental-vis');
        clearNode('flee-vis');
        createBars(data);
    }

    /**
     * Event handler for checkboxes.
     * */
    function checkboxEventListener() {
        $(':checkbox').change(function() {
            let newFilter = {};
            $('input[type=checkbox]').each(function () {
                if (this.checked) {
                    let val = $(this).data('value')
                    newFilter[val.attribute] ? newFilter[val.attribute].push(val.feature) : newFilter[val.attribute] = [val.feature];
                }
            });
            filterData = newFilter;

            grabFilteredData(filterData).then(data => {
                document.getElementById('total-text').innerHTML = "<h5>Total Shootings: " + data.totalShootings[0].count + " people killed</h3>";
                updateMap(data);
                updateBars(data);
            });
        });
    }

    /**
     * Asynchronous function that gets called when a checkbox is checked or unchecked to fetch new data
     * and update each visualization accordingly.
     * */
    async function grabFilteredData() {
        let url = 'http://localhost:8000/get-server-data?schema=a3&table=shootings&event=checkbox&date-min=' + startDate + '&date-max=' + endDate
                + '&filter-data=' + JSON.stringify(filterData) + '&timestamp=' + Date.now();

        let response = await fetch(url, {"credentials": "same-origin"});
        if (response.ok) {
            let data = await
                    response.json();
            return data;
        }
        return [];
    }

    var task1 = document.getElementById("start-task-1");
    var endtask1 = document.getElementById("end-task-1");
    var task2 = document.getElementById("start-task-2");
    var endtask2 = document.getElementById("end-task-2");
    var task3 = document.getElementById("start-task-3");
    var endtask3 = document.getElementById("end-task-3");
    var task4 = document.getElementById("start-task-4");
    var endtask4 = document.getElementById("end-task-4");

    task1.addEventListener('click', function() {logStart(task1, endtask1, "Task 1 in Progress")});
    endtask1.addEventListener('click', function() {logEnd(endtask1, task2, task1, "Task 1 Completed")});
    task2.addEventListener('click', function() {logStart(task2, endtask2, "Task 2 in Progress")});
    endtask2.addEventListener('click', function() {logEnd(endtask2, task3, task2, "Task 2 Completed")});
    task3.addEventListener('click', function() {logStart(task3, endtask3, "Task 3 in Progress")});
    endtask3.addEventListener('click', function() {logEnd(endtask3, task4, task3, "Task 3 Completed")});
    task4.addEventListener('click', function() {logStart(task4, endtask4, "Task 4 in Progress")});
    endtask4.addEventListener('click', function() {logEnd(endtask4, task4, task4, "Task 4 Completed")});

    function logStart(start, end, label) {
        logging(start.id).then(data => {});
        start.innerHTML = label;
        start.classList.remove("btn-info");
        start.disabled = "true";
        end.style.display = "block";
    }
    function logEnd(end, next, start, label) {
        logging(end.id).then(data => {});
        start.innerHTML = label;
        end.style.display = "none";
        if (next !== end)
            next.style.display = "block";
    }

    async function logging(event) {
        let url = 'http://localhost:8000/get-server-data?schema=a3&table=shootings&event=' + event
                + '&date-min=' + startDate + '&date-max=' + endDate + '&filter-data=' + JSON.stringify(filterData)
                + '&timestamp=' + Date.now();

        let response = await fetch(url, {"credentials": "same-origin"});
            if (response.ok) {
                let data = await
                response.json();
            return data;
        }
        return [];
    }

</script>